/*Bootstrap overrides*/

@font-face {
    font-family: OstrichSans;
    src: url("fonts/OstrichSans-Medium.woff") format("woff"),
    url("fonts/OstrichSans-Medium.ttf") format("truetype");
}

body{
    background-color: #181818;
    font-family: "OstrichSans", sans-serif;
}
div{
    overflow: hidden;
}
h1{
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 80px;
}
h2{
    color: grey;
    text-align: center;
    font-weight:normal;
    font-size: 50px;
}

a{
    color: grey;
    text-align: center;
    font-size: 50px
}


.full{
    position: relative;
    height: 100vh;
}

.break{
    height: 30vh;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#piano1{
    background: url(media/piano1.png) no-repeat center center fixed;
    background-size: cover;
}

#piano2{
    background: url(media/piano2.png) no-repeat center center fixed;
    background-size: cover;
}

#piano3{
    background: url(media/piano3.png) no-repeat center center fixed;
    background-size: cover;
}
